:root {
    --vert: #3b8e46;
    --beige: #ece2da;
    --rose: #dc9f96;
    --hover: #c02e44;
    --rosa :#E0B9B4;
}
* {
    margin: 0 ;
    padding: 0 ;
    font-family: "Syne", sans-serif;
}

header {
    margin: 31px 0 26px 37px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  



footer {
    background-color: white;
    height: 50px;
}

footer a{
    
    text-decoration: none;
    color: black;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
    
}
#branding{
    display: none;
}
nav img{ 
    width: 201px;
    height: 25px;
    margin-left: 37px ;
    margin-top: 31px;
    }

@media screen and (max-width: 680px) {
        nav img{
            margin-left: 0;
            margin-top: 20px;

         }
       }
    
.page-item-38 {
    display: none;
}

nav li a {
    text-decoration: none;
    font-family: "Syne", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  } 


#menu{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 680px) {
   header  #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
#menu ul{
    display: flex;
}

@media screen and (max-width: 680px) {
  #menu ul{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
   }

@media screen and (max-width: 680px) {
div .menu-menu-principal-container{
 
    justify-content: center;
}
}


@media screen and (max-width: 680px) {
    .page-item-13{
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 20px;
     }
   }
.menu-menu-principal-container{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.admin a{
    color: black;
    margin-right: 40px;

    
}
.admin a:visited{
    color: black;
}
 .admin a:hover{
    font-family: "Syne", sans-serif;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (max-width: 680px) {
    .menu-item-17 a{
        margin-right: 0 !important;
        margin-top: 15px !important;
    }
    .admin a{
        margin-right: 0 !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}

.menu-item-17 a{
    color: black;
    margin-right: 40px;
}
.menu-item-17 a:visited{
    color: black;
}
.menu-item-17 a:hover{
    font-family: "Syne", sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.menu-commander-container {
    background-color: var(--rose);
    padding: 31px 61px;
    transition: 0.2s;
}

.menu-commander-container a{
    color: white;
}
.menu-commander-container a:visited{
    color: white !important ;
}

.menu-commander-container:hover{
   background-color: #c02e44;
}

.menu-commander-container a:hover{
    color: white;
}
 /* enlever modifier */
.post-edit-link{
    display: none;
}

/* page INDEX */

/* section 1 */ 
@media screen and (max-width: 440px) {

.elementor-container.elementor-column-gap-default {
    min-height: 120px !important;

}
}

/*section l'énergie des plantes */
@media screen and (max-width: 800px) {
section.elementor-section.elementor-top-section.elementor-element.elementor-element-5e32e9a.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    margin-top: 80px;

}
}
/*ECART TITRE L'ENERGIE DES PLANTES */

@media screen and (max-width: 500px) {
    .elementor-38 .elementor-element.elementor-element-ac7d359 > .elementor-widget-container {
        padding: 6% 0% 6% 0%;
    }
}

/*section gouts */

.conteneur{
    display: flex !important;
    justify-content: center !important;

}

/* FRAISE */
.gout {
    
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 24.563rem !important;
    height: 16.375rem !important;
}

@media screen and (max-width: 800px) {
    .gout{
        width: 18.563rem !important;
    height: 12.375rem !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    }
}
@media screen and (max-width: 440px) {
    .gout{
        width: 10rem !important;
    height: 9rem !important;
    }
    .gout h2{
        font-size: 18px !important;

    }
}

@media screen and (max-width: 800px) {
.elementor-container.elementor-column-gap-default {
    display: flex;
    justify-content: center;
}
}
.conteneur-gouts{
    width:  24.563rem!important;
    height: 16.375rem !important;
    align-items: center !important;
    justify-content: center !important;
}

@media screen and (max-width: 800px) {
    .conteneur-gouts{
        width: 18.563rem !important;
    height: 12.375rem !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    }
}
@media screen and (max-width: 440px) {
    .conteneur-gouts{
        width: 10rem !important;
    height: 9rem !important;
    }
}

@media screen and (max-width: 800px) {
    .conteneur{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;

    }
}

/* page NOUS RENCONTRER */

/* formulaire rencontrer */
.formulaire-rencontrer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    width: 383px !important;
}
.formulaire-rencontrer input{
    max-width: 100% !important;
    width: 100% !important;
}
.nom-formulaire-rencontrer input {
    border-radius: 7px !important;
    height: 71px !important;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
    border-style: none !important;
  }


  .e-mail-formulaire-rencontrer input {
    border-radius: 7px !important;
    height: 4.438rem !important;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
    border-style: none !important;
  }

  .message-formulaire-rencontrer input {
    border-radius: 7px !important;
    z-index: 2;
    height: 14.813rem !important;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
    border-style: none !important;
  }



  .bouton-rencontrer {
    background-color: var(--rose) !important;
    color: white !important;
    font-size: 0.938rem !important;
    width: 12.375rem !important;
    height: 3.438rem !important;
    padding: 9px 0px !important;
    border-style: none !important;
    border-radius: 5px !important;
    transition: 0.2s !important;
    display: block !important;
    margin: 2.5rem auto !important;
  }

  .bouton-rencontrer:hover {
    background-color: #C02E44 !important;
    padding: 9px 56px 9px 57px !important;
    border-style: none !important;
    border-radius: 5px !important;
    transition: 0.2s !important;
  }

  .elementor-column-gap-default .elementor-column .elementor-element-populated{
    padding: 0 !important;
}

@media screen and (max-width: 1399px) {
    .branche-rencontrer{
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
 .formulaire-rencontrer{
    width: 250px !important;
 }
}

/*  PAGE COMMANDER */

.gout-quantite{
    width: 192.533px;
    height: 128.355px;
    margin-bottom: 2.5rem;
    margin-right: 1.875rem;
    display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "syne", sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.fraise-quantite{
    background-image: url("../images/commander/fraise.png");
    }

.pamplemousse-quantite{
    background-image: url("../images/commander/pamplemousse.png");

        }

        .framboise-quantite{
    background-image: url("../images/commander/framboise.png");
}

.citron-quantite{
    background-image: url("../images/commander/citron.png");
;}


.groupe-quantites div.wp-block-group__inner-container{
    display: flex !important;
    align-items: center !important;
}
.wp-block-group__inner-container{

}
.empilement-plus-moins{
    display: flex;
    flex-direction: column;

} 

.background-commander{
    width: 192.533px !important;
height: 128.355px !important;
}

.arriere-plan-commander{
    display: flex;
    width: 192.533px !important;
    height: 128.355px !important;
}

.largeur-gout{
    display: flex;
    justify-content: center;
    width: 860px;
}


/* formulaire jetform */


input.input-gouts{
    width: 51px !important;
    height: 56px !important;
    border-radius: 5px 0 0 5px;
    border-style: none;
}

.groupe-boutons{
    width: 100%;

}
.groupe-boutons >div.wp-block-group__inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px){
    .groupe-boutons >div.wp-block-group__inner-container{
        justify-content: center;
    }
}


.boutons-plus-moins{
    gap: 0 !important;
}
.moins, .plus{
    background-color: #DC9F96;
    width: 31px;
    height: 28px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
}


.plus a, .moins a, .ok a{
    padding: 0;
    

}
.plus {
  border-radius: 0 5px 0 0;
  border-bottom : 0.25px solid white; 
}

.moins{
    border-radius: 0 0 5px 0;
    border-top : 0.25px solid white; 

}
.plus-moins .is-vertical {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    
    

}
.ok{
    background-color: #E0B9B4 !important;
    width: 6.25rem;
  height: 3.5rem;
  border-radius: 5px;
  display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ok >div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.wp-block-button__link {
    background-color: transparent !important;
}

.wp-block-button__link .wp-element-button {
    background-color: transparent !important;
    z-index: 2;
}

.input-plus-moins{
    position: relative;
}

/*séparateur */
.separateur-horizontal {
    color: white;
    width: 860px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/*formulaire commande */

@media screen and (max-width: 460px) {
    .form-droite, .form-gauche{
        width: 250px !important;
    }
}

.titre-formulaire{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.formulaires-commande{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 940px) {
    .formulaires-commande{
        display: flex;
        flex-direction: column;
    }
}

input.label-formulaire{
    width: 383px !important;
    height: 71px !important;
    border-radius: 7px !important;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04) !important;
    border-style: none;

}


.jet-form-builder__label-text{
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}


.elementor hr{
    background-color: white !important;
    z-index: 3;
    }

    hr.separateur-vertical{
        width: 1px !important;
        height: 457px !important;
        z-index: 4;
        margin-right: 38px !important;
        margin-left: 38px !important;

    }

    @media screen and (max-width: 940px){
        hr.separateur-vertical{
            width: 457px !important;
            height: 1px !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            color: white !important;

    }
}